<ion-header>
  <ion-toolbar>
    <ion-title>
      Treininho pra prova
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>O baguio é doido memo</h1>
    <p>Aproveita que já ta aqui e coloca uns number my brother</p>
    <!--Espaaços de entrada-->
    <ion-input [(ngModel)] = "var1">{{var1}}</ion-input>
    <br>
    <ion-input [(ngModel)] = "var2">{{var2}}</ion-input>
    <br>
    <!--Botões Numéricos-->
    <ion-button size = "small" (click) = "operacoes(1)">1</ion-button>
    <ion-button size = "small" (click) = "operacoes(2)">2</ion-button>
    <ion-button size = "small" (click) = "operacoes(3)">3</ion-button>
    <br>
    <ion-button size = "small" (click) = "operacoes(4)">4</ion-button>
    <ion-button size = "small" (click) = "operacoes(5)">5</ion-button>
    <ion-button size = "small" (click) = "operacoes(6)">6</ion-button>
    <br>
    <ion-button size = "small" (click) = "operacoes(7)">7</ion-button>
    <ion-button size = "small" (click) = "operacoes(8)">8</ion-button>
    <ion-button size = "small" (click) = "operacoes(9)">9</ion-button>
    <br>

    <ion-button size = "defaut" (click) = "multiplicar()">vamo achar a multiplicação disso ae?</ion-button>
</ion-content>

<ion-footer>

</ion-footer>
