<ion-header>
  <ion-toolbar>
    <ion-title>
      Treininho pra prova 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>O baguio é doido memo</h1>
    <p>Aproveita que já ta aqui e coloca uns number my brother</p>
    <ion-input [(ngModel)] = "var1" type ="text">O primeiro aqui-></ion-input>
    <br>
    <ion-input [(ngModel)] = "var2">O segundo aqui-></ion-input>
    <br>
    <ion-button size = "large" (click) = "acharPar()">vamo ver se a soma é par?</ion-button>
    <br>
    <ion-button size = "large" (click) = "multiplicar()">vamo achar a multiplicação disso ae?</ion-button>
</ion-content>

<ion-footer>

</ion-footer>
