ion-title{
  text-align: center;
  color: red;
}
h1{
  text-align: center;

}
p{
  text-align: justify;
  margin-left: 113.3858267717 px;
  margin-top: 75.5905511811 px;
  margin-right: 75.5905511811 ppx;
}
